$var: 100px;
.top {
  width: 100%;
  height: 90px;
  background-color: hotpink;
  .top-menu {
    height: 90px;
    // // max-width: 1136px;
    // margin-right: auto;
    // margin-left: auto;
    // margin: 0 2rem;
    .top-logo {
      padding: 0 1rem;
      background-color: green;
      height: 90px;
    }
    .header-link {
      text-align: right !important;
      background-color: rebeccapurple;
      height: 90px;
      ul.nav {
        margin: 0 auto;
        li {
          a.nav-link {
            padding: 0 9px !important;
            line-height: 90px;
            color: white;
          }
        }
      }
    }
  }
}
@media (min-width: 1200px) {
  .top-menu {
    // max-width: 1140px;
    margin: 0 3rem;
  }
}
@media (min-width: 768px) {
  body {
    background-color: yellow;
    ul.nav {
      justify-content: flex-end !important;
      margin: 0 16px !important;
    }
    .top-menu{
      margin: 0;
      padding: 0;
    }
  }
}
@media (min-width: 576px) {
  ul.nav {
    justify-content: center;
  }
}
