<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <header>
    <nav class="top">
      <!-- <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class='top-menu'>
          <div fxFlex="25%"  fxFlex.sm="50%" fxFlex.xs="50%" class='top-logo'>
            dfslkflkdfsdfdsfsdfsdfdsfsddfds
          </div>
          <div fxFlex="75%" fxFlex.sm="50%" fxFlex.xs="50%"  class='header-link'>
            Trang chu  |  Chuc nang  | Huong dan | Chinh sach  | Lien he
          </div>
        </div> -->

      <div class='row top-menu'>
        <div class='col-md-3  top-logo'>

          dfslkflkdfsdfdsfsdfsdfdsfsddfds
        </div>
        <div class='col-md-9 header-link text-sm-left text-xs-center'>
            <ul class="nav ">
                <li class="nav-item">
                  <a class="nav-link active" href="#">Trang chu</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Huong dan</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Chuc nang</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Huong dan </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Lien he</a>
                    </li>
                <!-- <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li> -->
              </ul>

          <!-- <a href="Trang chu" class="nav-link">Trang chu</a>
          <a href="Trang chu" class="nav-link">Chuc nang</a>
          <a href="Trang chu" class="nav-link">Huong dan</a>
          <a href="Trang chu" class="nav-link">Chinh sach</a>
          <a href="Trang chu" class="nav-link">Lien he</a> -->
          <!-- Trang chu | Chuc nang | Huong dan | Chinh sach | Lien he -->
        </div>
      </div>
    </nav>
  </header>
  <div class="content">

  </div>
  <footer>

  </footer>
</body>

</html>
