<footer>
    <div class="container">

        <div class="row">
            <div class="col-md-1">
                <div class="STlogo ">
                    <img src="https://place-hold.it/90x90" alt="" class="rounded">
                </div>

            </div>
            <div class="col-md-6">
                <div class="ST-infor ml-md-5 ml-lg-0 pl-md-0 pr-md-0 pl-lg-4 pr-lg-4">
                    Địa chỉ: Bộ môn Công nghệ phần mềm, Khoa CNTT, Học viện Nông nghiệp Việt Nam<br> ĐT: 0912 817 498 - Email: stdse@vnua.edu.vn <br> Website: st-dse.vnua.edu.vn
                </div>

            </div>
            <div class="col-md-5">
                <div class="footer-link">
                    <div class="row">
                        <div class="col-6">
                            <ul>
                                <li>Trang Chủ</li>
                                <li>Chức Năng</li>
                                <li>Hướng Dẫn</li>
                            </ul>
                        </div>
                        <div class="col-6 right p">
                            <ul>
                                <li>Chính Sách</li>
                                <li>Liên Hệ</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="copyRight text-center">Copyright © 2019 ST-DSE. All rights reserved</div>
    </div>
</footer>
